<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://randtoeweb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>randtoeweb.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>RandToeWeb</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$RandToeWeb</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="RandToeWebContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:randtoewebdbserver.database.windows.net,1433;Initial Catalog=RandToeWeb_db;User ID=Quinn@randtoewebdbserver;Password=tkz582sQt" Name="Data Source=tcp:randtoewebdbserver.database.windows.net,1433;Initial Catalog=RandToeWeb_db;User Id=Quinn@randtoewebdbserver;Password=tkz582sQt" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="RandToeWeb.Models.RandToeWebContext, RandToeWeb" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RandToeWebContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:randtoewebdbserver.database.windows.net,1433;Initial Catalog=RandToeWeb_db;User Id=Quinn@randtoewebdbserver;Password=tkz582sQt</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>